<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aage ka kya plan hai? | CareerSearch.com</title>

    <script>
        "use strict";

        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                        t[e] = t.factory(e);
                    }), t.load = function (t) {
                        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                        var i = document.getElementsByTagName("script")[0];
                        i.parentNode.insertBefore(o, i);
                    };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('kwyvk8znzcu5');
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

    <nav id="navbar">
        <div id="logo">
            <img src="../static/img/careersearch-logo.png" alt="careersearch.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="#about-section">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
            <li class="item"><a href="/occupations">Occupations</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary"><strong>Welcome to CareerSearch</strong></h1>
        <p><strong>Your one-stop destination for exploring various career options</strong></p>
        <p><strong>Answering "To aage ka kya plan hai?"</strong></p>
    </section>

    <section id="about-section">
        <h1 class="h-primary center"><strong>About Us</strong></h1>
        <h5>
            Welcome to Career Search, your one-stop destination for exploring various career options available to
            students.
        </h5>
        <p>
            We understand that choosing a career path can be a daunting task, but our platform is designed to make it
            easier for you.
            <br>
            Our website provides comprehensive information on different career paths, including eligibility criteria,
            degree requirements, and skills needed for each job. We have collaborated with top colleges and universities
            to bring you up-to-date information on the courses they offer that can help you achieve your career goals.
            <br>
            One of the unique features of our website is that we provide videos of a real day at the job, giving you an
            inside look at what it's like to work in a particular field. This feature can help you gain a better
            understanding of what is expected from employees in a particular job and can help you make informed
            decisions about your career.
            <br>
            Whether you are a high school student, a college student, or a professional looking to switch careers, our
            website is the perfect resource for you. We are committed to helping you find your dream career and
            providing you with all the information you need to succeed.
            <br>
            <strong>Thank you for choosing Career Search, and we look forward to helping you achieve your career goals!
            </strong>
        </p>
    </section>

    <section id="contact" class="bgcolor">
        <div class="container">
            <h1 class="h-primary center background"><strong>Contact us</strong></h1>
            <div class="background, space">Contact number: 98635XXXXX, 78327XXXXX <br></div>
            <div class="background, space">E-mail address: careersearch@gmail.com</div>

            <div class="background">
                <img src="../static/img/insta.png" alt="Instagram">
                <div>
                    <a class="links" href="https://www.instagram.com/" target="_blank">careersearch_official</a>
                </div>
            </div>

            <div class="background">
                <img src="../static/img/facebook-final.png" alt="Facebook">
                <div>
                    <a class="links" href="https://www.facebook.com/" target="_blank">careersearch_fb</a>
                </div>
            </div>

            <div class="background">
                <img src="../static/img/twitter.png" alt="Twitter">
                <div>
                    <a class="links" href="https://www.twitter.com/" target="_blank">careersearch</a>
                </div>
            </div>
            <div class="background">
                Want to join our team? - <a class="links" href="https://forms.gle/aeSSLLh3Lbo5uwGC9" target="_blank"> Fill this form</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.careersearch.com. All rights reserved!
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>