{% extends 'base.html' %}

{% block title %}Software Engineer{% endblock title %}

{% block name %}Introduction to Software Engineering{% endblock name %}
{% block image %}<img
    src="https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
    alt="Software Engineer" class="centerImg">{% endblock image %}

{% block content %}
<p>
    Software development is a rapidly growing field that is perfect for those who enjoy problem-solving and creativity.
    As a software developer, you will use your coding skills to design, develop, and test software applications for a
    wide range of industries. Software developers work in a variety of settings, including technology companies,
    startups, and government agencies.
</p>
{% endblock content %}

{% block degree %}
<p>
    To become a software developer, you will typically need a bachelor's degree in computer science or a related field.
    However, some employers may accept applicants with relevant work experience and training. Some common education and
    training requirements for software developers include:
<ul>
    <li>Bachelor's degree in computer science or a related field</li>
    <li>Familiarity with programming languages such as Java, Python, or C++</li>
    <li>Experience with software development tools and platforms</li>
    <li>Strong problem-solving and analytical skills</li>
</ul>

The most appropriate course to pursue would be a B.Tech. (Bachelor of Technology) in computer science engineering or a
related field, like information technology. You may also consider other degree programs like BCA (Bachelor of Computer
Application) or B.Sc.(Bachelor of science) in computer science.
<ul>
    <li>B.Tech.</li>
    <li>BCA</li>
    <li>B.Sc.</li>
</ul>
</p>
{% endblock degree %}

{% block skills %}
<ul>
    <li>Coding skills - Programming Language</li>
    <li>Core Subjects:
        <ul>
            <li>Data Structures</li>
            <li>Object Oriented Programming</li>
            <li>Database Management System</li>
            <li>Operating System</li>
            <li>Data Communication and Computer Network</li>
        </ul>
    </li>
</ul>
<p>
    To excel in software development, you will need to possess certain skills and qualities, such as:
<ul>
    <li>Strong programming skills in languages such as Java, Python, or C++</li>
    <li>Ability to work in a team environment</li>
    <li>Attention to detail</li>
    <li>Strong problem-solving and analytical skills</li>
    <li>Knowledge of software development best practices and methodologies</li>
</ul>
In addition, having experience with software development tools and platforms can be an advantage in this career path.
</p>
{% endblock skills %}



{% block college %}
<p>
    Best Colleges/Universities that offer B.Tech:

    <li class="occupationItems"><a href="https://en.wikipedia.org/wiki/Indian_Institutes_of_Technology">IITs</a></li>
    <li class="occupationItems"><a
            href="https://www.shiksha.com/engineering/articles/nits-in-india-blogId-20003">NITs</a></li>
    <li class="occupationItems"><a
            href="https://en.wikipedia.org/wiki/Indian_Institutes_of_Information_Technology">IIITs</a></li>
    <li class="occupationItems"><a href="http://dtu.ac.in/">DTU</a></li>
    <li class="occupationItems"><a href="http://nsut.ac.in/en/home">NSUT</a></li>
    <li class="occupationItems"><a href="https://www.igdtuw.ac.in/">IGDTUW</a></li>
    <li class="occupationItems"><a href="http://www.ipu.ac.in/">IPU</a></li>
    All of the above universities take students through JEE mains and Advanced
    <br><br>
    <li>Private Universities</li>
    Different private universities have different criteria for admissions
</p>
<br><br>
<p>
    Best Colleges that offer BCA:
    <li class="occupationItems"><a
            href="https://www.shiksha.com/science/colleges/b-sc-computer-science-colleges-india">College list</a>
    </li>
    All of the above universities take students through either JEE mains/Advanced or DU Entrance test (CUET DU)
    <br>
</p>
{% endblock college %}

{% block exams %}
<p>
<ul>
    <li>
        Official Site for eligibility criteria for JEE mains:-
        <a href="https://jeemain.nta.nic.in/eligibility-criteria/">Eligibility Criteria</a>
    </li>
    <li>
        Official Website:-
        <a href="https://jeemain.nta.nic.in/">Official Website</a>

    </li>
</ul>
</p>
{% endblock exams %}

{% block work %}
<p>
    As a software developer, your responsibilities will include:
<ul>
    <li>Writing and testing code to develop software applications</li>
    <li>Collaborating with other developers and stakeholders to design and develop software</li>
    <li>Debugging and troubleshooting code</li>
    <li>Staying up-to-date with industry trends and best practices</li>
    <li>Participating in code reviews and maintaining documentation</li>
</ul>
Other duties may include working with project managers to plan and execute software development projects, and
maintaining and updating existing software applications.
</p>
{% endblock work %}

{% block salary %}
<p>
    The salary for software developers can vary depending on factors such as experience, location, and industry. On
    average, entry-level software developers can earn around $65,000 to $80,000 per year, while experienced developers
    can earn over $120,000 per year. In addition, the job outlook for software developers is very positive, with a
    projected job growth rate of 21% from 2020 to 2030, according to the Bureau of Labor Statistics.

</p>
{% endblock salary %}

{% block company %}
<p>
    If you're interested in pursuing a career in software development, some of the top employers in this field include
    technology companies, startups, and government agencies. In addition, there are many opportunities for growth and
    advancement in this field, including:
<ul>
    <li>Senior developer positions</li>
    <li>Management positions</li>
    <li>Consulting roles</li>
    <li>Teaching and research positions</li>
</ul>
</p>
{% endblock company %}

{% block video %}
<p>
    To give you an inside look at what it's really like to work as a software developer, we have provided a video of a
    real day at the job. In this video, you will see a software developer working on code, collaborating with team
    members, and troubleshooting issues. We hope that this video helps you gain a better understanding of what it's like
    to work in software development.

<ul>
    <li><a href="https://youtu.be/j1fc0FlCjyI">Watch this video</a></li>
</ul>
</p>

{% endblock video %}

{% block endNote %}
<p>
    Overall, software development is an exciting and dynamic career path that offers opportunities for growth and
    advancement. If you have a passion for coding, problem-solving, and creativity, a career in software development may
    be the perfect fit for you.
</p>
{% endblock endNote %}